:root {
    --BODY-FONT-SIZE: 14px;

    --ELEMENT-FG-COLOR: black;
    --ELEMENT-FG-COLOR-DISABLED: dimgray;
    --ELEMENT-BG-COLOR: white;
    --ELEMENT-OUTLINE: none;
    --ELEMENT-SHADOW: 0px 2px 4px rgba(0,0,0,0.75);
    --ELEMENT-BORDER: 1px solid #a0a0a0;
    --ELEMENT-BORDER-RADIUS: 5px;

    --TASKBAR-BG-COLOR: white;

    --DOCUMENT-FG-COLOR: black;
    --DOCUMENT-BG-COLOR: white;

    --BUTTON-FG-COLOR: black;
    --BUTTON-BG-COLOR: lightgray;
    --BUTTON-BG-COLOR-HOVER: lightgray;
    --BUTTON-BG-COLOR-ACTIVE: darkgray;
    --BUTTON-BORDER: none;
    --BUTTON-BORDER-RADIUS: 5px;
    --BUTTON-SHADOW: none;

    --TEXTFIELD-BORDER: 1px solid lightgray;
    --TEXTFIELD-BORDER-FOCUS: 1px solid darkgray;
    --TEXTFIELD-SHADOW: none;

    --WINDOW-BG-COLOR: var(--ELEMENT-BG-COLOR);
    --WINDOW-CONTENT-FG-COLOR: black;
    --WINDOW-CONTENT-BG-COLOR: var(--ELEMENT-BG-COLOR);
    --WINDOW-BORDER: none;
    --WINDOW-SHADOW: 0px 2px 8px rgba(0,0,0,0.75);

    --WINDOW-CONTROL-FG-COLOR: black;
    --WINDOW-CONTROL-BG-COLOR: lightgray;
    --WINDOW-CONTROL-BG-COLOR-HOVER: darkgray;
    --WINDOW-CONTROL-BG-COLOR-ACTIVE: gray;
    --WINDOW-CONTROL-BORDER: none;
    --WINDOW-CONTROL-BORDER-RADIUS: 5px;
    --WINDOW-CONTROL-SHADOW: none;

    --HEADER-FG-COLOR: black;
    --HEADER-BG-COLOR-FOCUSED: lightgray;
    --HEADER-BG-COLOR-UNFOCUSED: white;

    --MENULIST-FG-COLOR: black;
    --MENULIST-FG-COLOR-HOVER: white;
    --MENULIST-BG-COLOR: var(--ELEMENT-BG-COLOR);
    --MENULIST-BG-COLOR-HOVER: royalblue;
    --MENULIST-BG-COLOR-ACTIVE: royalblue;

    --BORDER-COLOR-DARK: #a0a0a0;
    --BORDER-COLOR-LIGHT: #f5f5f5;

    --BORDER-DARK: 1px solid var(--BORDER-COLOR-DARK);
    --BORDER-LIGHT: 1px solid var(--BORDER-COLOR-LIGHT);

    --RESIZER-FG-COLOR: gray;
    --RESIZER-FG-COLOR-ACTIVE: black;
    --RESIZER-BG-COLOR: none;
    --RESIZER-BG-COLOR-ACTIVE: white;

    --WINDOW-MIN-WIDTH: '180px';
    --WINDOW-MIN-HEIGHT: '120px';
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--BODY-FONT-SIZE);
    background: steelblue;
    background-image: none;
    background-size: cover;
    background-origin: border-box;
    overflow: hidden;
    user-select: none;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--BUTTON-FG-COLOR);
    background: var(--BUTTON-BG-COLOR);
    border: var(--BUTTON-BORDER);
    border-radius: var(--BUTTON-BORDER-RADIUS);
    outline: var(--ELEMENT-OUTLINE);
    font-family: inherit;
    font-size: inherit;
}
button:hover {
    background: var(--BUTTON-BG-COLOR-HOVER);
}
button:active, .taskbarTasklist button:active {
    background: var(--BUTTON-BG-COLOR-ACTIVE);
}
button:focus {
    outline: none;
}

input[type=text] {
    margin: 2px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--DOCUMENT-FG-COLOR);
    background: var(--DOCUMENT-BG-COLOR);
    border: var(--TEXTFIELD-BORDER);
    border-radius: var(--BUTTON-BORDER-RADIUS);
    outline: var(--ELEMENT-OUTLINE);
    box-shadow: var(--TEXTFIELD-SHADOW);
    font-family: inherit;
    font-size: inherit;
}
input[type=text]:focus {
    border: var(--TEXTFIELD-BORDER-FOCUS);
}

.taskbar {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    color: var(--ELEMENT-FG-COLOR);
    background: var(--TASKBAR-BG-COLOR);
    border: var(--BORDER-LIGHT);
    border-right: var(--BORDER-DARK);
    border-bottom: var(--BORDER-DARK);
    font-family: inherit;
    font-size: inherit;
}
.taskbarTasklist {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-self: stretch;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}
.taskbarTasklist button {
    max-width: 96px;
    min-width: 76px;
    width: 100%;
    justify-self: stretch !important;
    margin-right: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.taskbarTasklist button:last-child {
    margin-right: 0;
}
.taskbarList {
    display: flex;
    flex-flow: row;
}

.taskman ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
}
.taskman li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
}
.taskman li:last-child {
    margin-bottom: 0;
}

.taskbarTray {
    padding: 2px;
    background: var(--BUTTON-BG-COLOR-ACTIVE);
    border: var(--ELEMENT-BORDER);
    border-radius: var(--ELEMENT-BORDER-RADIUS);
}
.taskbarTray ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0;
    padding: 0;
}
.taskbarTray li {
    display: inline-block;
    margin: 2px;
    padding: 0;
}
.taskbarTrayItemIcon, .taskbarTrayItemLabel {
    margin: 0;
    padding: 0;
}

.menuList {
    position: absolute;
    z-index: 100;
    box-sizing: border-box;
    color: var(--ELEMENT-FG-COLOR);
    background: var(--ELEMENT-BG-COLOR);
    border: var(--ELEMENT-BORDER);
    border-radius: var(--ELEMENT-BORDER-RADIUS);
    outline: var(--ELEMENT-OUTLINE);
    box-shadow: var(--ELEMENT-SHADOW);
}
.menuList ul {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.menuList li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--MENULIST-FG-COLOR);
    background: var(--MENULIST-BG-COLOR);
    border-radius: var(--BUTTON-BORDER-RADIUS);
}
.menuList li:hover {
    color: var(--MENULIST-FG-COLOR-HOVER);
    background: var(--MENULIST-BG-COLOR-HOVER);
}
.menuList li:active {
    background: var(--MENULIST-BG-COLOR-ACTIVE);
}
.menuListDivider {
    width: 100%;
}

.dragWindow {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    z-index: 9;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: var(--WINDOW-MIN-WIDTH);
    min-height: var(--WINDOW-MIN-HEIGHT);
    box-sizing: border-box;
    color: var(--ELEMENT-FG-COLOR);
    background: var(--WINDOW-BG-COLOR);
    border: var(--WINDOW-BORDER);
    border-radius: var(--ELEMENT-BORDER-RADIUS);
    outline: var(--ELEMENT-OUTLINE);
    box-shadow: var(--WINDOW-SHADOW);
}

.dragWindowHeader {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    justify-self: flex-start;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    cursor: move;
    z-index: 10;
    color: var(--HEADER-FG-COLOR);
    background: var(--HEADER-BG-COLOR-FOCUSED);
    border-top-left-radius: var(--ELEMENT-BORDER-RADIUS);
    border-top-right-radius: var(--ELEMENT-BORDER-RADIUS);
    font-weight: bold;
}

.dragWindowHeaderTitle {
    align-self: center;
    justify-self: stretch;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.dragWindowControls {
    display: flex;
    flex-flow: row;
}
.dragWindowControls button {
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--WINDOW-CONTROL-FG-COLOR);
    background: var(--WINDOW-CONTROL-BG-COLOR);
    border: var(--WINDOW-CONTROL-BORDER);
    border-radius: var(--WINDOW-CONTROL-BORDER-RADIUS);
    box-shadow: var(--WINDOW-CONTROL-SHADOW);
    line-height: 1;
}
.dragWindowControls button:hover {
    background: var(--WINDOW-CONTROL-BG-COLOR-HOVER);
}
.dragWindowControls button:active {
    background: var(--WINDOW-CONTROL-BG-COLOR-ACTIVE);
}
.dragWindowControls button:disabled {
    color: var(--ELEMENT-FG-COLOR-DISABLED);
}

.dragWindowContent {
    display: flex;
    flex-flow: column;
    align-self: stretch;
    justify-self: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    background: var(--WINDOW-CONTENT-BG-COLOR);
    border-bottom-left-radius: var(--ELEMENT-BORDER-RADIUS);
    border-bottom-right-radius: var(--ELEMENT-BORDER-RADIUS);
    text-align: left;
}

.dragWindowResizer {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-left: auto;
    margin-top: auto;
    padding: 4px;
    color: var(--RESIZER-FG-COLOR);
    background: var(--RESIZER-BG-COLOR);
    cursor: nwse-resize;
    line-height: 1;
}
.dragWindowResizer:active {
    color: var(--RESIZER-FG-COLOR-ACTIVE);
    background: var(--RESIZER-BG-COLOR-ACTIVE);
}

.toolbarContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}